<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Users data</title>
  <style>
    body{
      display: flex;
      align-items: center;
      justify-content: center;
      height:auto;
    }
    table, th,td {
      border: 1px solid black;
    }
    button{
      display: flex;
      justify-content:space-between;
      font-size: 15px;
      margin: 5px;
      padding: 5px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      place-items: center;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Username</th>
      <th>Edit </th>
    </tr>
    <%for (user of users){%>
  <tr>
    <td><%=user.id %></td>
    <td><%=user.email %></td>
    <td><%=user.username%></td>
    <td>
    <form method="GET" action="/user/<%= user.id %>/edit">
      <button>Edit Username</button>
    </form>
    </td>
  </tr>
<%}%>
  </table>
</body>
</html>
